cmp-spoyler-body-people {

}



	cmp-spoyler-body-people .body-wrap {
		margin: 10px 10px 30px 10px;
	}




		cmp-spoyler-body-people .body-wrap .obj-cat {
			margin: 10px 0;
			
		}



	cmp-spoyler-body-people .body-wrap .key {
		color: #999;
	}





 
