cmp-menu { 


	width: 200px;
	margin: 0;
	padding: 0;

	display: block;
	padding: 5px;
	border-radius: 5px;
	background-color: #ddd;
} 
	cmp-menu .btn2 {
		margin: 0 0 0 0;
		padding: 1px 10px;
		font-weight: bold;
		border-radius: 5px;
		background: linear-gradient( to bottom, #ccc, #fff );
		cursor: pointer;
	} 
		cmp-menu .btn2:hover {
			background: var( --bg-b );
			color: #fff;
		} 








